@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  padding: 0;
  margin: 0;

  background: #f8d9e3;
}

/* .canvas {
background: rgb(126, 150, 244);
  background: linear-gradient(0deg, rgba(126, 150, 244, 1) 0%, rgba(126, 180, 244, 1) 47%, rgba(126, 150, 244, 1) 100%);
} */